typeorm:
  type: mysql
  host:
  port:
  username:
  password:
  database:
  synchronize: false

internalApi:
  url:

discord:
  webhookUrl:

ring:
  cameraId:

rekognition:
  region: ap-northeast-1
  collectionId:
